.btn {
  .text-headers();
  display: inline-block;
  box-sizing: border-box;
  border-radius: 30px;
  border-width: 3px;
  border-style: solid;
  padding: 13px;
  min-width: 280px;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
