.contest-form__title {
  .text-regular();
  padding-top: 55px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 30px;
}

.contest-form__footnote {
  display: block;
  text-align: center;
}

.contest-form__submit-btn {
  margin: 45px 0;
  width: 100%;
}

@media (max-width: @tablet-width - 1) {
  .contest-form__group {
    &--app,
    &--achieve {
      background-color: @color-grey;
    }
  }
}

@media (min-width: @tablet-width) {
  .contest-form__form {
    display: flex;
    flex-direction: column;
  }

  .contest-form__submit-btn {
    width: 300px;
  }

  .contest-form__group {
    width: 100%;

    &--full-name {
      width: auto;
    }

    &--app {
      order: 1;
      width: auto;
    }

    &--contacts {
      order: 2;
    }

    &--achieve {
      order: 3;
    }

    &--emotions {
      order: 4;
    }

    &--action-bar {
      order: 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .contest-form__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
