.contest-form__title {
  padding-top: 55px;
  padding-bottom: 50px;
  .text-regular();
  text-align: center;
  line-height: 30px;
}

.contest-form__fieldset {
  background-color: @color-grey;
}

.contest-form__footnote {
  text-align: center;
}

.contest-form__submit-btn {
  margin: 45px auto;
}
