.contacts {
  text-align: center;
  padding-top: 48px;
}

.contacts__title {
  .text-large();
  margin: 0;
  margin-bottom: 40px;
}

.contacts__contacts-list {
  .reset-list();
}

.contacts__contact {
  margin-bottom: 28px;
}
