.editor {
  padding-top: 20px;
  background-color: @color-grey;
}

.editor__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.editor__label-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.editor__icon {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 34px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;

  &:last-child {
    margin-right: 0;
  }

  &--clip {
    background-image: url("../../img/icon-editor-crop.svg");
  }

  &--color {
    background-image: url("../../img/icon-editor-fill.svg");
  }

  &--contrast {
    background-image: url("../../img/icon-editor-contrast.svg");
  }
}

.editor__range {
  appearance: none;
  width: 100%;
  background: transparent;

  &:not(:first-child) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -8px;
    width: 14px;
    height: 14px;
    background-color: @color-grey;
    border: 2px solid @color-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: @color-grey;
    border: 2px solid @color-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 14px;
    height: 14px;
    background-color: @color-grey;
    border: 2px solid @color-pink;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0;
    cursor: pointer;
    border-top: 2px solid @color-main;
  }

  &::-moz-range-track {
    width: 100%;
    height: 0;
    cursor: pointer;
    border-top: 2px solid @color-main;
  }

  &::-ms-track {
    width: 100%;
    height: 0;
    cursor: pointer;
    border-top: 2px solid @color-main;
  }
}

.editor__action-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 41px;
}

.editor__submit-btn {
  margin-bottom: 12px;
  background-color: @color-grey;
  border-color: @color-pink;
  color: @color-pink;
}

.editor__reset-btn {
  background-color: @color-grey;
  border-color: @color-grey-borders;
  color: @color-grey-borders;
}

@media (min-width: @tablet-width) {
  .editor {
    display: flex;
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .editor__range {
    min-width: 202px;
    margin-bottom: 71px;

    &:not(:first-child) {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .editor__icon {
    width: 22px;
    height: 22px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .editor__action-bar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .editor__label-group,
  .editor__range-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .editor {
    padding: 57px 80px;
  }
}
