.intro {
  .text-large();
  padding-top: 35px;
  background-color: @color-main-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: @color-white;
  min-height: 135px;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  padding-top: 390px;
  padding-bottom: 30px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: left 76px;
  background-repeat: no-repeat;
}

.intro__slogan {
  display: none;
}

.intro__download-list {
  .reset-list();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 220px;
  font-size: 0;
}

.intro__download-item {
  width: 56px;
  height: 56px;
}

.intro__store-icon {
  display: block;
  width: inherit;
  height: inherit;
  background: transparent center no-repeat;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.intro__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.intro__btn-download {
  width: 280px;

  &:hover {
    background-color: @color-white;
    color: @color-pink;
    border-color: @color-white;
  }

  &:active {
    color: fade(@color-pink, 30%);
  }
}

.intro__page-title {
  .text-large();
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .intro__wrapper {
    width: 300px;
    height: 400px;
    padding: 100px 320px 110px 0;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -40px bottom;
  }

  .intro__slogan {
    .text-extralarge();
    display: block;
    text-align: center;
    padding: 0 35px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .intro__wrapper {
    padding-right: 640px;
    max-width: @desktop-width;
    height: 500px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: -25px bottom;
  }

  .intro__btn-download {
    width: 300px;
  }
}
