.main-nav {
  background-color: @color-main;

  &--opened {
    & .main-nav__cross {
      display: inherit;
    }

    & .main-nav__burger {
      display: none;
    }

    & .main-nav__list {
      display: inherit;
    }
  }

  &--closed {
    background-color: @color-menu-closed;

    & .main-nav__toggle {
      width: 50px;
    }

    & .main-nav__burger {
      display: inherit;
    }

    & .main-nav__cross {
      display: none;
    }

    & .main-nav__list {
      display: none;
    }

    & .main-nav__main-bar {
      border: none;
    }
  }

  &--nojs {
    background-color: @color-main;

    & .main-nav__toggle {
      display: none;
    }

    & .main-nav__list {
      display: inherit;
    }
  }
}

.main-nav__main-bar {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid @color-menu-dark;
}

.main-nav__logo {
  color: @color-white;
  width: 75px;
  height: 22px;

  &:hover {
    color: @color-pink;
  }

  &:active {
    color: @color-white;
    opacity: 0.3;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__burger,
.main-nav__cross {
  fill: @color-white;

  &:hover {
    fill: @color-pink;
  }

  &:focus,
  &:active {
    fill: @color-pink-30;
  }
}

.main-nav__list {
  .reset-list();
  color: @color-white;
}

.main-nav__item {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid @color-menu-light;
  border-bottom: 1px solid @color-menu-dark;
}

.main-nav__link {
  .text-headers;
  line-height: 32px;
  text-transform: uppercase;

  &:hover {
    color: @color-pink;
  }

  &:active {
    color: @color-pink-30;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__main-bar {
    padding-bottom: 40px;
    align-items: flex-end;
  }

  .main-nav__logo {
    width: 148px;
    height: 45px;

    &--tablet {
      display: inherit;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: @color-menu-closed;

    &--closed {
      & .main-nav__list {
        display: flex;
      }
    }
  }

  .main-nav__logo {
    &--desktop {
      display: inherit;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }

  .main-nav__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__main-bar {
    padding-left: 10px;
    margin: 0;
    margin-right: auto;
    border: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    margin-right: 80px;
    border: none;

    &:last-child {
      margin-right: 10px;
    }
  }

  .main-nav__link {
    text-transform: none;
    font-weight: normal;

    &:active {
      color: @color-white-30;
    }

    &--active {
      position: relative;
      cursor: default;

      &:hover {
        color: @color-white;
      }

      &:active {
        color: @color-white;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        bottom: -9px;
        left: 0;
        border-bottom: 2px solid @color-white;
      }
    }
  }
}
