.main-nav {
  .reset-list();
  background-color: @color-main;
  color: @color-white;
}

.main-nav__item {
  margin: 0;
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid @color-menu-light;
  border-bottom: 1px solid @color-menu-dark;
}

.main-nav__link {
  .text-headers;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__item {
    margin-right: 80px;
    border: none;

    &:last-child {
      margin-right: 20px;
    }
  }

  .main-nav__link {
    text-transform: none;
  }
}
