.page-header {
  background-color: @color-main-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
