.page-footer {
  .positioner;
  padding: 38px 20px 40px;
  text-align: center;

  &--index {
    display: none;
  }
}

.page-footer__logo {
  margin-bottom: 35px;
}

.page-footer__social {
  margin-bottom: 45px;
}

.page-footer__copyright {
  .text-regular();
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer__developer-logo {
  display: inline-block;
  width: 27px;
  height: 34px;
  vertical-align: middle;
  margin-left: 12px;
  fill: @color-pink;

  &:hover {
    fill: @color-main;
  }

  &:active {
    fill: @color-main;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-footer__logo {
    margin-bottom: 5px;
  }

  .page-footer__social {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 12px;
  }

  .page-footer__copyright {
    font-size: 18px;
  }

  .page-footer__developer-logo {
    margin-left: 9px;
  }
}
