.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__title {
  .text-regular();
  margin: 40px auto;
  text-align: center;
  line-height: 30px;
}

.photos__footer {
  .text-regular();
  line-height: 30px;
  text-align: center;
}

.photos__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: @desktop-width) {
  .photos__content {
    max-width: @desktop-width - 20;
  }
}
