.prices {
  background: @color-grey url("../img/bg-triangle-white.svg") no-repeat 100% 0;
  background-size: cover;
  background-position-y: -2px;
  padding-top: 85px;
  padding-bottom: 45px;
}

.prices__table {
  width: 262%;
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  left: -88%;
}

.prices__tariff {
  box-sizing: border-box;
  min-width: 280px;
  padding: 25px 20px;
  background-color: @color-main;
  color: @color-white;
  border: 1px solid @color-light-borders;

  &--invisible {
    display: none;
  }

  &--popular {
    position: relative;

    &::before {
      content: url("../img/bg-hit.svg");
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 14px;
      left: 14px;
      .text-regular();
      text-transform: uppercase;
      transform: rotate(-45deg);
    }
  }
}

.prices__name {
  .text-headers();
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.prices__price {
  .text-large();
}

.prices__feature {
  .text-regular();
  position: relative;
  padding: 22px;
  text-transform: uppercase;
  border: 1px solid @color-light-borders;
  background-color: @color-white;
  background-clip: padding-box;

  &--header {
    display: none;
  }
}

.prices__icon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--checked {
    background-image: url("../img/icon-yes.svg");
    width: 30px;
    height: 30px;
  }

  &--unchecked {
    background-image: url("../img/icon-no.svg");
  }
}

.prices__toggles {
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .prices {
    padding-bottom: 40px;
  }

  .prices__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .prices__table {
    width: auto;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .prices__toggles {
    display: none;
  }

  .prices__tariff {
    min-width: 150px;
    width: 25%;
    padding: 20px 20px 15px;

    &--invisible {
      display: table-cell;
      background: transparent;
      border: none;
    }
  }

  .prices__name {
    margin-bottom: 8px;
  }

  .prices__feature {
    text-transform: none;
    padding: 8px 25px 8px 15px;
    line-height: 30px;

    &--header {
      display: table-cell;
    }
  }

  .prices__text {
    display: none;
  }

  .prices__icon {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .prices__name {
    font-size: 16px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__tariff {
    &--popular {
      &::before {
        content: url("../img/bg-hit-tablet.svg");
      }

      &::after {
        left: 6px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .prices {
    padding-top: 150px;
    padding-bottom: 66px;
  }

  .prices__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .prices__tariff {
    min-width: 235px;
    padding: 20px;
  }

  .prices__feature {
    font-size: 18px;
    padding: 15px 25px 16px 22px;
  }
}
