.research {
  display: none;
}

.research__title {
  .text-headers();
  font-size: 30px;
  line-height: 36px;
}

.research__text {
  .text-regular();
  line-height: 24px;
}

.research__link {
  color: @color-pink;
  text-decoration: underline;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
  }

  .research__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 10px 65px 0;
  }

  .research__timer {
    position: relative;
    width: 275px;
    height: 275px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &::before {
      .text-headers();
      display: block;
      content: "24";
      position: absolute;
      top: 55px;
      left: 18px;
      font-size: 96px;
      color: @color-pink;
      text-align: center;
      line-height: 175px;
      width: 175px;
      height: 175px;
      border: 13px solid @color-pink;
      border-radius: 50%;
    }
  }

  .research__content {
    width: 300px;
    padding-top: 10px;
  }

  .research__title {
    width: 250px;
    margin: 0;
  }

  .research__text {
    margin: 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @color-grey;
  }

  .research__wrapper {
    max-width: @desktop-width;
    margin-left: auto;
    margin-right: auto;
  }

  .research__content {
    width: 570px;
  }
}
