.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__item {
  text-align: center;
}

.reviews__author {
  .text-headers();
  font-style: normal;
}

.reviews__text {
  .text-regular();
  line-height: 30px;
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
