.reviews {
  .positioner;
  padding-top: 48px;
  padding-bottom: 44px;
}

.reviews__item {
  margin: 0;
  text-align: center;
}

.reviews__author {
  .text-headers();
  color: @color-black;
  font-style: normal;
}

.reviews__bio {
  display: none;
}

.reviews__text {
  .text-regular();
  line-height: 30px;
  margin: 20px 0 25px;
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}

.reviews__btn {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    padding-top: 35px;
    padding-bottom: 23px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .reviews__bio {
    .text-small();
    display: block;
    font-size: 14px;
    line-height: 36px;
  }

  .reviews__author {
    order: 1;
    font-size: 20px;
    line-height: 30px;
  }

  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 15px;
  }

  .reviews__list {
    padding-top: 118px;
    width: 720px;
    position: relative;

    &::before {
      content: "";
      width: 80px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
    }
  }

  .reviews__text {
    margin-bottom: 37px;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__bio {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__btn {
    display: block;
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(45deg);
    outline: none;
    border: 2px solid @color-main-30;
    padding: 0;

    &:hover {
      border-color: @color-main-60;
    }

    &:focus,
    &:active {
      border-color: @color-main-10;
    }

    &--prev {
      order: -1;
      border-top: none;
      border-right: none;
      margin-left: 7px;
    }

    &--next {
      border-bottom: none;
      border-left: none;
      margin-right: 7px;
    }
  }
}
