.social {
  .reset-list();
  display: flex;
  justify-content: center;
  font-size: 0;
  margin-bottom: 43px;
}

.social__item {
  width: 46px;
  height: 46px;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  width: inherit;
  height: inherit;
  display: block;
  background: @color-white center no-repeat;
  border: 3px solid fade(@color-main, 10%);
  border-radius: 50%;

  &:hover {
    border-color: @color-main;
  }

  &:active {
    border-color: fade(@color-main, 10%);
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

@media (min-width: @tablet-width) {
  .social {
    margin-bottom: 0;
  }

  .social__item {
    &:last-child {
      margin-right: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social__item {
    &:last-child {
      margin-right: -5px;
    }
  }
}
