.text-regular(@font-weight: normal) {
  font-weight: @font-weight;
  font-size: 14px;
}

.text-large(@font-weight: 200) {
  font-weight: @font-weight;
  font-size: 24px;
}

.text-headers(@font-weight: bold) {
  font-weight: @font-weight;
  font-size: 18px;
}

.text-small(@font-weight: normal) {
  font-weight: @font-weight;
  font-size: 12px;
}
