.fieldset {
  box-sizing: border-box;
  border: none;
}

.fieldset__label {
  line-height: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: @tablet-width - 1) {
  .fieldset {
    &--no-mobile {
      border: none;
    }
  }

  .fieldset__label {
    &--no-mobile {
      display: none;
    }

    &--grey {
      width: 100%;
      padding: 40px;
      margin-bottom: 0;
      background-color: @color-grey;
    }
  }
}

@media (min-width: @tablet-width) {
  .fieldset {
    border: 2px solid @color-light-borders;
  }

  .fieldset__label {
    padding: 0 30px;

    &--short {
      padding: 0 25px;
    }

    &--long {
      padding: 0 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fieldset__label {
    &--short {
      min-width: 368px;
    }
  }
}
