.form-btn {
  .text-headers();
  width: 100%;
  padding: 25px 5px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-green;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
