.form-btn {
  .text-headers();
  padding: 22px 5px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-green;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @color-green-dark;
  }

  &:focus,
  &:active {
    color: @color-white-30;
  }
}
