.form-btn {
  width: 100%;
  padding: 25px 5px;
  .text-headers();
  text-transform: uppercase;
  color: @color-white;
  background-color: #2aab6d;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
